#root #app-container {
  & #icon {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    & .img-container {
      display: flex;
      justify-content: center;
      & img {
        &#n {
          margin-right: -7px;
          width: 40px;
          height: 40px;
        }
        &#d {
          margin-left: -7px;
          margin-right: -7px;
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
